body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url("/img/player_background_1.jpg");
    background-size: cover;
    min-height: calc(100dvh - 16px);
    background-position: 50%;
}

.Title{
    text-align: center;
    font-size: 8vw;
    margin-bottom: 0px;
    color: white;
}

.nameInputWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nameInput{
    width: 80vw;
    font-size: 10vw;
    padding: 1vw;
    margin: 5vw;
    text-align: center;
}

.teamSelector{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.teamSelector > button {
    flex: 1;
    padding: 2vw;
    font-size: 5vw;
    border-radius: 2vw;
    min-width: fit-content;
}