body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url("/img/player_background_1.jpg");
    background-size: cover;
    min-height: calc(100dvh - 16px);
    background-position: 50%;
}

.hide {
    display: none !important;
}

.infoText {
    color: white;
    font: bold;
    font-size: 10vw;
    padding: 3vw;
    text-align: center;
}

.CenterWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
}

.readyToDrawButton {
    padding: 3vw;
    font: bold;
    font-size: 5vw;
    border-radius: 2vw;
    min-width: fit-content;
    width: 60vw;
}

.promptInput {
    width: 100%;
    height: 10vh;
    font-size: 4vh;
    margin: 5vh;
}

.wordsSection {
    display: flex;
}

.wordsList {
    flex: 2;
}

.skipButtonWrapper{
    background-color: red;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skipButton {
    padding: 1vh;
    background-color: red;
    font-size: 10vw;
    color: white;
    pointer-events: none;
    text-align: center;
}

.wordWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.word{
    padding: 2vh;
    font-size: 6vw;
    text-align: center;
    flex: 1;
    color: white;
    font: bolder;
}

.submitButton {
    padding: 1vh;
    width: 25vw;
    justify-self: flex-end;
    font-size: 4vw;
}

.shrink-out{
    animation: shrink-out-anim 0.2s ease-in both;
}

@keyframes shrink-out-anim{
    from {
        transform: scaleY(1);
    }
    to{
        transform: scaleY(0);
    }
}